
p {
  text-align: left:;
  font-size:20;
  color: white;
}
h4{
  text-align: center;
  font-size: 25
  color: white;
}
h3 {
  text-align: center;
  font-size: 30;
  color: white;
}

h2 {
  text-align: center;
  font-size: 35;
  color: white;
}

#Fondo {
  background-color: #000000;
}

li {
  color: white;
}
